---
title: ""
layout: splash
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/IFF-group.png
excerpt: "We are a student community of Department of Informatics at Technical University of Munich (TUM), working towards equal participation and support of women and other under-represented groups.
  <br/><br/><br/><br/><br/><br/>"
intro:
  - excerpt: "We regularly organize events in different areas throughout 
  the semester including but not limited to careers advices, study tips or self-development sessions. <br/>
      Follow us to stay tuned for our upcoming events!"

# next-event:

# upcoming:
    # - image_path: assets/images/content-2023/yin-yoga-event.jpg
    #   title: "Yoga Event"
    #   excerpt: "Discover inner peace with Yin Yoga, join us for a serene journey of inner harmony and relaxation. 🧘‍♀️✨️ <br/><br/>
    #   🗓️ <b>Date:</b> July 10th, 2023 <br/>
    #   ⏰ <b>Time:</b> 5:00 PM - 6:30 PM <br/>
    #   📍 <b>Location:</b> TUM CIT (Meeting point: Near the majestic tree in MI)
    #   "
    #   url: https://www.eventbrite.com/e/discover-inner-peace-with-yin-yoga-tickets-660192693117
    #   btn_label: "Register Here"
    #   btn_class: "btn--primary"

past-event:
  - image_path: assets/images/content-2023/yin-yoga-event.jpg
    title: "Recent Event: Yoga Event"
    excerpt: "We had an amazing event finding inner peace with Yin Yoga, a serene journey of inner harmony and relaxation. 🧘‍♀️✨️"

  - image_path: assets/images/content-2023/google-dsc.jpg
    title: "Recent Event: Mobile Game Hacking Workshop"
    excerpt: "Cheating in mobile games and apps is common. 
              Going through walls, teleportation, and auto-aiming is the way to the top of the leaderboard for many cheaters. 
              During the workshop, we investigated the most common techniques that cheaters use, theoretically and with hands-on exercises. 
              Afterwards, we switched sides and take on the role of a game/app developer that wants to protect their game."
    
  - image_path: assets/images/content-2023/recruiting-event.jpg
    title: "Recent Event: Recruiting Event"
    excerpt: "We met motivated people who care about making TUM's CIT department more welcoming and accepting for everyone!"

  # - image_path: assets/images/content-2023/python-best-practices.jpg
  #   title: "Recent Event: Python Best Practices"
  #   excerpt: "What are the best practices in Python today? In this event, our speaker from Bloomberg will share tips on software development."

  - image_path: assets/images/content-2022/PhD-journey.png
    title: "Recent Event: PhD Journey & Choosing Your Area of Research at the School of CIT"
    excerpt: "In this event, we discussed on the motivations, learnings and experiences of 3 PhD students from TUM, School of CIT.
      We later had a round-table session to allow the participants network with more PhD students according to their area of interest."
    url: /phd-event-2022/
    btn_label: "Read More"
    btn_class: "btn--primary"
---

<h1 align="center">Upcoming Events</h1>

{% include feature_row id="intro" type="center" %}

<!-- {% include feature_row id="next-event" type="center" %} -->

{% include feature_row id="upcoming" type="center" %}

{% include feature_row id="past-event" type="center" %}
