---
title: ""
layout: splash
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/IFF-group.png
excerpt: "We are a student community of School of Computation, Information and Technology(CIT) at Technical University of Munich (TUM), working towards equal participation and support of women and other under-represented groups.
  <br/><br/><br/><br/><br/><br/>"

join:
- image_path: assets/images/content-2025/join-us-poster.jpg

intro:
  - excerpt: "We regularly host events throughout the semester on a variety of topics, including but not limited to career advice, study tips, and self-development sessions. <br/>
    Follow us to stay updated on our latest events and opportunities!"

next-event:
    - image_path: assets/images/content-2025/recruiting-event-poster.jpg
      title: "Join WinCS Recruiting Event 2025"

past-event:
  - image_path: assets/images/content-2024/tech-interview-poster.jpg
    title: "Leveling Up Interview Skills at Tech Interview Prep Workshop with Optiver"
    url: /tech-interview-prep-workshop-2024/
    btn_label: "Read More"
    btn_class: "btn--primary"

  - image_path: assets/images/content-2024/phd-event-2024-poster.jpg
    title: "Exploring the PhD Journey: Insights from our Panel Discussion and Networking Event"
    url: /phd-event-2024/
    btn_label: "Read More"
    btn_class: "btn--primary"

  - image_path: assets/images/content-2024/schnupperstudium-2024-poster.jpg
    title: "Inspiring the Next Generation of Female Tech Leaders"
    url: /schnupperstudium-2024/
    btn_label: "Read More"
    btn_class: "btn--primary"

---

{% include feature_row id="join" type="center" %}
<div style="text-align: center; margin-top: 40px;margin-bottom: 40px;">
  <a href="https://forms.gle/g9KGJX1vwg1JNT6a9" class="btn-blue">JOIN US</a>
</div>

<h1 align="center">Upcoming Events</h1>

{% include feature_row id="intro" type="center" %}

{% include feature_row id="next-event" type="center" %}

<h1 align="center">Recent Events</h1>

{% include feature_row id="upcoming" type="center" %} {% include feature_row id="past-event" type="center" %}

<div style="text-align: center; margin-top: 40px;">
  <a href="/archive/" class="btn-blue">More Events</a>
</div>
