---
title: ""
layout: splash
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/IFF-group.png
excerpt: "We are a group of members of Technical University of Munich (TUM) at Department of Informatics working towards equal participation of women and other under-represented groups.
          <br/><br/><br/><br/><br/><br/>"
intro: 
    - excerpt: 'We regularly organize events in different areas throughout the semester including but not limited to careers in industry, PhD advice and study tips. <br/>
                Follow us to stay tuned for our upcoming events!'

next-event:
    - image_path: assets/images/content-2023/bloomberg-event.png
      title: "Python Best Practices"
      excerpt: "What are the best practices in Python today? In this event, our speaker from Bloomberg will share tips on software development."
      url: https://www.eventbrite.com/e/python-best-practices-tickets-520333460387
      btn_label: "Register here"
      btn_class: "btn--primary"

upcoming:
    - title: "Women in Academia"
      excerpt: "Date & Time: TBA"
    - title: "Yoga Event"
      excerpt: "Date & Time: TBA"

past-event:
    - image_path: assets/images/content-2022/PhD-journey.png
      title: "Recent Event: PhD Journey & Choosing Your Area of Research at the School of CIT"
      excerpt: "In this event, we discussed on the motivations, learnings and experiences of 3 PhD students from TUM, School of CIT. 
                We later had a round-table session to allow the participants network with more PhD students according to their area of interest."
      url: /phd-event-2022/
      btn_label: "Read More"
      btn_class: "btn--primary"     



---

<h1 align="center">Upcoming Events</h1>

{% include feature_row id="intro" type="center" %}

<!-- {% include feature_row id="next-event" type="center" %} -->

{% include feature_row id="upcoming" type="center" %}

{% include feature_row id="past-event" type="center" %}

