/* IFF Members page */
.member_table {
    width: 100%; 
    display: table;
}

.member_item {
    float: left; 
    width: 30%; 
    height: 380px; 
    text-align: center; 
    border-width: 1px; 
    border-style: solid; 
    border-color: rgb(210, 210, 210); 
    border-radius: 10px; 
    margin: 5px; 
    padding: 10px;
}

.member_item img {
    border-radius: 50%;
}

@media screen and (max-width: 600px) { .member_item { height: 310px; } }

/* IFF alumni page */
.alumni_table {
    width: 100%; 
    display: table;
}

.alumni_item {
    float: left; 
    width: 23.5%; 
    height: 300px; 
    text-align: center; 
    border-width: 1px; 
    border-style: solid; 
    border-color: rgb(210, 210, 210); 
    border-radius: 10px; 
    margin: 5px; 
    padding: 10px;
}

.alumni_item img {
    border-radius: 50%;
}

@media screen and (max-width: 600px) { .alumni_item { height: 310px; } }

.btn-blue {
    background-color: #0c2e51;
    color: white !important;
    padding: 12px 24px;
    font-size: 1.2rem;
    border-radius: 8px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
}

.btn-blue:hover {
    background-color: #155a8a;
} 